/* Estilos gerais */
body {
    background-color: #D9D9D9;
}

h1 {
    text-align: center;
    background-image: linear-gradient(to right, #000000, #4d4a4a, #000000);
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    background-size: 100% 100px;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-top: 40px;
    font-family: Georgia, serif, Courier, monospace;
}

.container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 20px;
    color: rgb(244, 241, 241);
}

ul {
    text-align: center;
    padding: 0;
}

li {
    display: inline-block;
    color: #444;
    font-family: "Cheltenham", serif;
    margin: 0 10px;
    transition: color 0.3s;
    list-style: none;
}

header li a {
    color: #111010;
}

li:not(:last-child)::after {
    content: " | ";
    color: #aeacacd2;
    margin: 0 5px;
}

.linha-horizontal {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 5px 0;
    border: none;
}

#botao-login {
    position: absolute;
    top: 7px;
    right: 20px;
    background-color: #111010;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#botao-login:hover {
    background-color: #ff0000;
}

.vertical-line {
    position: fixed;
    top: 25%;
    right: 25%;
    height: 100%;
    width: 1px;
    background-color: rgb(122, 122, 122);
}

/* Estilo para o contêiner Brasil */
.Brasil {
    width: 100%; /* Utilize a largura completa do contêiner pai */
}

.Brasil .Article img {
    max-width: 450px; /* Define a largura máxima da imagem como 100% do contêiner pai (elemento <article>) */
    height: auto; /* Mantém a proporção original da imagem */
}

/* Estilo para os elementos <article> dentro do contêiner Brasil */
.Brasil article {
    display: inline-block; /* Exibe os elementos lado a lado */
    width: calc(33.33% - 10px); /* Defina a largura desejada para cada <article> (33.33% no seu caso) */
    margin: 0 30px; /* Adicione margens entre os elementos para evitar que fiquem muito próximos */
    box-sizing: border-box; /* Certifique-se de que as margens não afetem a largura total */
    vertical-align: top; /* Alinhe os elementos ao topo da linha */
    text-align: justify; /* Alinhe o texto ao centro horizontalmente */
}

.Brasil .Article article {
    margin-bottom: 10px; /* Define a margem de 2px na parte inferior do elemento article */
}

.Brasil .Article a {
    background-color:#86858584;
    display: inline-block;
    color: rgb(10, 10, 10);
    font-family: "Cheltenham", serif;
    margin: 0 10px;
    transition: color 0.3s;
    list-style: none;
}

